.btn {
    width: 350px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: rgb(25, 25, 25, 0);
    border-width: 3px;
    border-color: $second-color;
    color: #dedddb;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans';
    box-shadow: none;
    &-primary {
        height: 70px;
        border-radius: 30px;
        background-color: rgb(25, 25, 25, 0);
        border-width: 3px;
        border-color: $second-color;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Open Sans';
        &:hover {
            background: $second-color;
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            border-color:#fff;
            color:#fff;
        }
    }
    &-submit {
        width: 50%;
        height: 55px;
        font-size: 16px;
        color:$second-color;
        font-family: 'Open Sans';
        box-shadow: none;
        border-color: $second-color;
        &:hover {
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            border-color:#fff;
            color: #fff;
            box-shadow: none;
            background-color: $second-color;
            }    
    }
} 