.promo {
    position: relative;
    min-height: 950px;
    padding-bottom: 80px;
    background: url('../img/masthead.jpg') center (center/cover) no-repeat,  	rgb(144, 144, 144);
    background-blend-mode: multiply;
    overflow-x: hidden;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__descr {
        margin-top: 114px;
        margin-bottom: 36px;
        color: #fff;
        text-align: center;
        h1 {
            font-size: 4.75rem;
            font-family: 'Montserrat';
        }
    }

    &__icons {
        margin-top: 36px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__icon {
        text-align: center;
        width: 108px;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color:#ffffff;
        font-family: 'Open Sans';
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
            width: 55%;
        }
    }
    &__link {
        color:#ffffff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        a {
            color:#ffffff;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}